.container-for-log{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.log-form{
    /*position: fixed;*/
    /*top: 55%;*/
    /*left: 50%;*/
    width: 25em;
    height: fit-content;
    /*display: flex;*/
    flex-direction: column;
    /*height: fit-content;*/
    justify-content: center;
    /*align-items: center;*/
    border-radius: 6px;
    padding: 30px;
    background: #F5E2E2;
    text-align: center;

}
.log-form input{
    width: 100%;
    height: 100%;
    /*margin: auto;*/
    outline: none;
    border: none;
    border-bottom: 1px solid #ffa573;
    margin: 18px auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #714444;
}
input::placeholder{
    color: navajowhite;
}

.log-form label{

    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    color: #714444;
    font-size: 19px;
    text-align: center;
}
.login-button{
    /*height: 50%;*/
    width: 100%;
    margin: 1em auto;
    padding: 0.6em;
    outline: none;
    border: none;
    border-radius: 7px;
    background: linear-gradient(120deg, #ffa573, #714444);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1) ;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
}
.login-button:hover {
    background: linear-gradient(120deg, #714444,#ffa573);
    color: white;
    box-shadow: inset 0 0 0 3px #714444;
    /*background: rgba(0,0,0,0);*/
    /*color: #714444;*/
    /*box-shadow: inset 0 0 0 3px #714444;*/
}
.log-form .text-bottom-acc{
    margin-top: 70px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}
.sign-up{
    text-decoration: none;
}