.log-form{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: fit-content;
    /*display: flex;*/
    flex-direction: column;
    /*height: fit-content;*/
    justify-content: center;
    /*align-items: center;*/
    border-radius: 6px;
    padding: 30px;
    background: #F5E2E2;
}
.log-form input{
    width: 100%;
    height: 100%;

    outline: none;
    border: none;
    border-bottom: 1px solid #ffa573;
    padding: 5px 5px 8px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #714444;
}
input::placeholder{
    color: navajowhite;
}

.log-form p{
    font-weight: normal;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #714444;
    font-size: 19px;
    text-align: center;
}
.register-button{
    /*height: 50%;*/
    width: 100%;
    margin: 20px 0 10px 0;
    padding: 10px 10px;
    outline: none;
    border: none;
    border-radius: 7px;
    background: linear-gradient(120deg, #ffa573, #714444);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1) ;
    transition: .5s;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
}

.register-button:hover{
    background-position: right center;
}
.log-form .text-bottom-acc{
    margin-top: 70px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}