/*.statistics-field{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    !*justify-content: center;*!*/
/*    margin-top: 25px;*/
/*}*/
.statistics-header{
    font-family: 'Poppins', sans-serif;
    color: #714444;
    margin: 180px 0 0 20px;
    display: block;
}

.scrollmenu{
    height:300px;
    width:500px;
    overflow:auto;
    background: #F5E2E2;
    border:8px solid #714444;

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 30px auto;
    display: block;
}
.rbutton2{
    width: 150px;
    height: 50px;
    background: #F5E2E2;
    color: #714444;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 40px;
    border:none;

    margin: 2% auto;
}